:root{
    --bg: rgb(225, 225, 225);
    --defult: #2270b5;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Arial Black','Inter 18pt Black';
    background-color: var(--bg);
    color: white;
    /* min-height: 2000px; */
}

/* .scroll-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    } */
.screen {
    scroll-snap-align: start;
    height: 100vh;
    }

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  border-bottom: none;
  border-radius: 0px 0px 16px 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: transparent; /* Warna awal */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.scrolled {
  background-color: #1a5e92; /* Warna setelah di-scroll */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}

.header-title span3 {
  color: #ffffff; /* Biru tua */
  font-weight: 600; /* Bold */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);  /* Bayangan teks */
  font-size: 40px; /* Ukuran font */
}
.header.scrolled .header-title span3 {
  color: #2270B5; /* Biru tua */
   background: linear-gradient(270deg, #007bff, #00c6ff, #007bff);
  background-size: 600% 600%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.header-title span {
    color: #fff; /* Biru tua */
    font-weight: 200; /* Bold */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);  /* Bayangan teks */
    font-size: 30px; /* Ukuran font */
}
.header.scrolled .header-title span {    
  color: #2270B5; /* Biru tua */
  background: linear-gradient(to right, #007bff, #00c6ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
}
.header-title span2 {
    color: #2270B5; /* Biru tua */
    font-weight: 200; /* Bold */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);  /* Bayangan teks */
    font-size: 40px; /* Ukuran font */
}
.header.scrolled .header-title span2 {
  color: #2270B5; /* Biru tua */
    font-weight: 600; /* Bold */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  /* Bayangan teks */
    font-size: 40px; /* Ukuran font */
    background: linear-gradient(to right, #007bff, #00c6ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.header {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header.scrolled {
  background-color: white; /* Warna navbar setelah di-scroll */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Tambahkan bayangan */
}
.navbar a{
    color: white;
    font-size: 14px;
    display: inline-block;
    margin-left: 550px;
}
.navbar a:hover {
    color: #ffffff;
}

.fontArial {
    font-family: Arial, Helvetica, sans-serif;
}
/* button atas */
.btnAtas {
  padding: 12px 18px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
}
.btnAtas:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}
.btnAtas:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.btnAtas:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

#pesanTiket, #signInBtn {
  padding: 12px 18px;
  background-color: transparent; /* Warna awal */
  color: white;
  transition: color 0.3s ease, background-color 0.3s ease;

}

.scrolled #pesanTiket, .scrolled #signInBtn {
  padding: 12px 18px;
  color: #2270B5; /* Warna biru */
  background-color: white; /* Latar belakang putih */
  border: 1px solid #2270B5; /* Border biru */
  border-radius: 8px;
  padding: 5px 10px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-primary {
  background-color: #2270B5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  display: block;
}
.btn-primary:hover {
  background-color: #e5e5e5;
  color: #2270B5;
  border: 1px solid #2270B5;
  transition: all 0.3s ease;
}
.btn-primary:active {
  transform: scale(0.95);
  transition: all 0.3s ease;
}
/* Page 1 */
/* Banner */
.banner {
    color:white;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Asset/Image/viewssss.jpg);
    background-color: var(--bg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.banner::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,rgb(225, 225, 225)3%, rgba(68, 68, 68, 0)18%);
}
.banner2 {
  color: white;
  min-height: 100vh; /* Pastikan tinggi minimum 100% dari viewport */
  width: 100%; /* Pastikan lebar 100% */
  display: flex;
  align-items: center;
  justify-content: center; /* Pusatkan konten secara horizontal */
  background-image: url(Asset/Image/niagara.jpg);
  background-color: var(--bg);
  background-repeat: no-repeat;
  background-size: cover; /* Pastikan gambar menutupi seluruh area */
  background-position: center; /* Pusatkan gambar */
  position: relative;
  overflow: hidden; /* Pastikan tidak ada elemen yang keluar */
}

.banner2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  background: linear-gradient(
    to bottom,
    #e2e2e2 0%,               /* Warna latar atas (menyatu) */
    rgba(255, 255, 255, 0.8) 20%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.0) 100%
  );
  z-index: 1;
  pointer-events: none;
}
.banner2::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(225, 225, 225)3%, rgba(68, 68, 68, 0)18%);
}
.banner2 .content {
  position: relative;
  z-index: 2; /* Pastikan konten berada di atas lapisan gradient */
  text-align: center;
  padding: 0 20px; /* Tambahkan padding untuk konten */
}
.banner2 > * {
  position: relative;
  z-index: 2;
}


.content h1{
  font-size: 80px;
  font-weight: 800;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  animation: fadeInUp 1s ease-out;
  padding-top: 3rem;
  margin-left: 100px;
}
.content p{
  font-size: 20px;
  color: #f5f5f5;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  animation: fadeInUp 1.5s ease-out;
  margin-left: 105px;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* preview liburan */

.title-preview {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  text-decoration: underline;
  align-items: center;
  color: rgb(21, 34, 86);
  padding-left: 40%;
}
.preview{
  padding: 10rem 7% 10rem;
  align-items: center;
}
.p-vidio{
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.p-vidio video{
  max-width: 360px;
  max-height: 240px;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  
}
.p-vidio video:hover{
  transform: scale(1.05);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.3);
}
/* Pemesanan Tiket */

.pemesanan{
    padding: 7rem 15% 10rem;
    max-width: 60rem;
}
.box-pemesanan {
    min-width: 70vw;
    min-height: 550px;
    padding: 50px;
    font-size: 28px;
    background-color: rgb(34, 112, 181,75%);
    background-image: transparent;
    border-radius: 20px;
    margin: 0 auto 0 auto;
    }
.dv-pemesanan {
    padding-top: 3rem;
}
    /* lokasi */
    .ig-lokasi {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
      }
    .ig-lokasi .field {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    .ig-lokasi label {
        font-size: 20px;
        color : #ffffff;
        margin-bottom: 5px;
        font-weight: bold;
      }
    .ig-lokasi select {
        font-family: 'inter','Arial', sans-serif;
        font-size: 12px;
        color : black;
        font-weight: bold;
        padding: 8px;
        border-radius: 8px;
        border: none;
        border: 1px solid #ffffff;
      }

    /* Tanggal keberangkatan */
    .ig-tanggal {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
      }
    .ig-tanggal .field{
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    .ig-tanggal .field-toggle{
        display: flex;
        flex-direction: column;
      }
    .ig-tanggal label {
        font-family: 'inter','Arial', sans-serif;
        font-size: 20px;
        color : #ffffff;
        margin-bottom: 5px;
        font-weight: bold;
      }
    .ig-tanggal input {
        font-family: 'inter','Arial', sans-serif;
        font-size: 12px;
        color : black;
        font-weight: bold;
        padding: 8px;
        border-radius: 8px;
        border: none;
      }
        /* Toggle switch */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
          }
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
          }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0; left: 0; right: 0; bottom: 0;
            background-color: #ccc;
            transition: .4s;
            border-radius: 34px;
          }
        .slider:before {
            position: absolute;
            content: "";
            height: 26px; width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
          }
        input:checked + .slider {
            background-color: #2e86de;
            }
        input:checked + .slider:before {
            transform: translateX(26px);
            }
      
        #field-tanggal-balik {
            display: none;
          }
    
    /* Penumpang */
    .passengers{
        display: flex;
        gap: 10px;
      }
    .passengers-in {
        font-family: 'inter','Arial', sans-serif;
        font-size: 12px;
        color : black;
        font-weight: bold;
        background: #ffffff;
        border-radius: 8px 8px 0 0;
        border: none;
        border: 1px solid #ccc;
        max-width: 300px;
        height: 30px;
      }
    .input-passengers {
        background: #D9D9D9;
        border-radius: 0 0 8px 8px;
        border: none;
        border: 1px solid #ccc;
        max-width: 300px;
      }
    .number-passengers {
        font-family: 'inter','Arial', sans-serif;
        font-size: 12px;
        color : black;
        font-weight: bold;
        padding: 8px;
      }
    .passengers-cap {
        padding-left: 50px;
      }
    .passengers label {
        font-family: 'inter','Arial', sans-serif;
        font-size: 20px;
        color : #ffffff;
        margin-bottom: 5px;
        font-weight: bold;
      }
    .number-passengers label{
        color: black;
        margin-top: 10px;
        margin-left: 30px;
      }
    .calculation1 {
        min-width: 24px;
        left: 24px;
        margin-left: 45.5px;
      }
    .calculation2 {
        min-width: 24px;
        left: 24px;
        margin-left: 30px;
      }
    .calculation3 {
        min-width: 24px;
        left: 24px;
    }

    .number-passengers button{
        background-color: #6f6f6f; 
        color: white;
        padding: 3px 3px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
      }
    .counting {
        margin-left: 10px;
        margin-right: 10px;
      }
    
    /* button checkout */
    .pesan-tiket-btn {
      display: block;
      width: 100%;
      padding: 14px;
      font-size: 1.2rem;
      margin-top: 25px;
      background-color: #0066cc;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      font-weight: bold;
      transition: background 0.4s ease, transform 0.2s ease;
        } 
    .pesan-tiket-btn:hover {
      background-color: #004b99;
      transform: scale(1.02);
        }
/* Page 1 */

/* Page 2 */
.page2 {
  display: flex;
  align-items: flex-start;
}
/* .penerbangan{
  padding: 8rem;
  align-items: center;
  color: black;
  font-size: 18px;
} */
/* Data Diri */
.box-dataDiri {
  width: 300px;
  height: 500px;
  padding: 50px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 2px 3px 5px rgba(138, 138, 138, 0.605);
  border-radius: 20px;
  margin-top: 120px;
  margin-left: 10px;
}
.data-diri {
  padding: 1rem 0 10rem;
  align-items: center;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}
.data-diri h1 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-bottom: 20px;
}
/* Daftar Tiket */
.list-pesawat {
  flex-direction: column;
  margin-top: 120px;
  margin-left: 28px;
}
.box-tiket {
  width: 900px;
  height: 160px;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  margin-bottom: 2rem;
  box-shadow: 2px 3px 5px rgba(138, 138, 138, 0.605);
}
/* default */
.flight-card {
  background-color: white;
  padding: 20px;
  margin: 30px 0;
  border-radius: 15px; /* Membuat sudut lebih melengkung */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flight-card:hover {
  transform: translateY(-5px); /* Efek hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan lebih besar saat hover */
}

.flight-card h3 {
  font-size: 24px;
  color: #2270B5;
}

.flight-card p {
  font-size: 18px;
}

.flight-card button {
  background-color: #2270B5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/* .listPesawat{
  color: black;
  font-size: medium;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: -10rem;
} */
.flight-card button:hover {
  background-color: #1a5e92;
}
/* Page 2 */

/* Media Queries */
/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}
/* mobile */
@media (max-width: 450px){
    html {
        font-size: 55%;
    }
}

       /* ----------------------------------- Daftar Pesawat ----------------------------------- */

       .flight-card {
        background-color: white;
        padding: 20px;
        margin: 30px 0;
        border: 1px solid #d8d0d0;
        border-radius: 10px;
        box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.605);
      }
      
      .flight-card h3 {
        font-size: 24px;
        color: #2270B5;
      }
      
      .flight-card p {
        font-size: 18px;
      }
      
      .flight-card button {
        background-color: #2270B5;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      
      .flight-card button:hover {
        background-color: #1a5e92;
      }
      
      /* ----------------------------------- General Adjustments ----------------------------------- */
      button {
        font-size: 16px;
      }
      
      #daftarPesawat {
        padding: 20px 100px 30px 100px;
      
      }
      
      .back-btn {
        background-color: #2270B5;
        position: fixed;       /* Tombol tetap di layar saat scroll */
        bottom: 16px;          /* Menempatkan tombol 20px dari bawah */
        left: 50%;             /* Menempatkan tombol di tengah horizontal */
        transform: translateX(-50%);  /* Memastikan tombol terpusat di tengah */
        padding: 12px 20px;
        background-color: #6c757d;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: auto;            /* Mengatur lebar otomatis */
        max-width: 300px;       /* Batas maksimal lebar tombol */
        font-size: 16px;        /* Ukuran font tombol yang lebih kecil */
      }
      
      .back-btn:hover {
        background-color: #1a5e92;
      }

/* Page 3 */
.box-summary {
  padding: 10rem;
  align-items: center;
  width: 900px;
  height: 580px;
  font-size: 18px;
  background-color: rgb(34, 112, 181,75%);
  background-image: url(Asset/Image/raissa-lara-lutolf-fasel-2mrb8RCUCxc-unsplash.jpg);
  border-radius: 20px;
  margin: 0 auto 0 auto;
  }
