   /* Custom styles */
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem 7%;
      background-color: rgba(255, 255, 255, 0);
      border-bottom: 1px solid rgb(152, 152, 152);
      border-radius: 0px 0px 16px 16px;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 9999;
      transition: background-color 0.3s ease;
    }

    .header-title {
      font-size: 32px;
      color: white;
      transition: color 0.3s ease;
    }

    .header-title span {
      color: #000000;
      font-size: 30px;
    }

    .navbar a {
      color: white;
      margin: 0 1rem;
      text-decoration: none;
      transition: color 0.3s;
    }
    
    .navbar a:hover {
      color: #ddd;
    }

    .banner {
      color: white;
      min-height: 100vh;
      display: flex;
      align-items: center;
      background-image: url(Asset/Image/raissa-lara-lutolf-fasel-2mrb8RCUCxc-unsplash.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
    }

    .banner::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      background: linear-gradient(0deg, rgb(225, 225, 225)3%, rgba(68, 68, 68, 0)18%);
    }

    .content {
      padding: 1.4rem 7%;
      max-width: 60rem;
      position: relative;
      z-index: 1;
    }

    .content h1 {
      font-size: 32px;
    }

    .preview {
      padding: 10rem 7% 10rem;
      align-items: center;
    }

    .title-preview {
      display: flex;
      justify-content: space-between;
      font-size: 32px;
      text-decoration: underline;
      align-items: center;
      color: rgb(21, 34, 86);
      padding-left: 40%;
    }

    .p-vidio {
      display: flex;
      justify-content: space-between;
      padding-top: 3rem;
    }

    .p-vidio video {
      max-width: 360px;
      max-height: 240px;
      align-items: center;
    }
    
    /* Gradient background for booking section */
    .gradient-bg {
      background: linear-gradient(to right, #0284c7, #38bdf8);
    }